{# templates/operators/http_operator.j2 #}
{% macro render_http_operator(task) %}
SimpleHttpOperator(
    task_id='{{ task.taskid }}',
    endpoint='{{ task.task_params.endpoint }}',
    method='{{ task.task_params.method | upper | default("GET") }}',
    {% if task.task_params.get('data') %}
    data={{ task.task_params.data | tojson }},
    {% endif %}
    {% if task.task_params.get('headers') %}
    headers={{ task.task_params.headers | tojson }},
    {% endif %}
    {% if task.task_params.get('response_check') %}
    response_check={{ task.task_params.response_check }},
    {% endif %}
    {% if task.task_params.get('response_filter') %}
    response_filter={{ task.task_params.response_filter }},
    {% endif %}
    http_conn_id='{{ task.task_params.get('http_conn_id', 'http_default') }}',
    {% include 'operators/common_args.j2' %}
)
{% endmacro %}