{# templates/operators/postgres_operator.j2 #}
{% macro render_postgres_operator(task) %}
PostgresOperator(
    task_id="{{ task.taskid }}",
    sql={{ task.sql_query | tojson }},
    postgres_conn_id={{ task.task_params.get('postgres_conn_id', 'postgres_default') | tojson }},
    {% if task.task_params.get('parameters') %}
    parameters={{ task.task_params.parameters | tojson }},
    {% endif %}
    {% if task.task_params.get('database') %}
    database={{ task.task_params.database | tojson }},
    {% endif %}
    {% if task.task_params.get('autocommit') is not none %}
    autocommit={{ task.task_params.autocommit | lower }},
    {% endif %}
    {% include 'operators/common_args.j2' %}
)
{% endmacro %}