{% macro render_trigger_dagrun_operator(task) %}
TriggerDagRunOperator(
    task_id="{{ task.task_id }}",
    trigger_dag_id={{ task.task_params.get('trigger_dag_id') | tojson }},
    {% if task.task_params.get('execution_date') %}
    execution_date={{ task.task_params.execution_date | tojson }},
    {% endif %}
    {% if task.task_params.get('reset_dag_run') is not none %}
    reset_dag_run={{ task.task_params.reset_dag_run | lower }},
    {% endif %}
    {% if task.task_params.get('wait_for_completion') is not none %}
    wait_for_completion={{ task.task_params.wait_for_completion | lower }},
    {% endif %}
    {% if task.task_params.get('poke_interval') %}
    poke_interval={{ task.task_params.poke_interval }},
    {% endif %}
    {% if task.task_params.get('allowed_states') %}
    allowed_states={{ task.task_params.allowed_states | tojson }},
    {% endif %}
    {% if task.task_params.get('failed_states') %}
    failed_states={{ task.task_params.failed_states | tojson }},
    {% endif %}
    {% if task.task_params.get('conf') %}
    conf={{ task.task_params.conf | tojson }},
    {% endif %}
    {% include 'operators/common_args.j2' %}
)
{% endmacro %}
