{# templates/operators/common_args.j2 #}
{% macro render_common_args(task) %}
    retries={{ task.retries }},
    retry_delay={{ task.retry_delay | timedelta_to_code }},
    {% if task.trigger_rule %}
    trigger_rule="{{ task.trigger_rule }}",
    {% endif %}
    {% if task.priority_weight %}
    priority_weight={{ task.priority_weight }},
    {% endif %}
    {% if task.queue %}
    queue="{{ task.queue }}",
    {% endif %}
    {% if task.pool %}
    pool="{{ task.pool }}",
    {% endif %}
    {% if task.execution_timeout %}
    execution_timeout={{ task.execution_timeout | timedelta_to_code }},
    {% endif %}
    {% if task.depends_on_past is defined %}
    depends_on_past={{ task.depends_on_past }},
    {% endif %}
    {% if task.wait_for_downstream is defined %}
    wait_for_downstream={{ task.wait_for_downstream }},
    {% endif %}
{% endmacro %}
