{# templates/dag_template.j2 #}
{% extends "base_dag.j2" %}

{% from "operators/python_operator.j2" import render_python_operator %}
{% from "operators/postgres_operator.j2" import render_postgres_operator %}
{% from "operators/bash_operator.j2" import render_bash_operator %}
{% from "operators/sensor_operator.j2" import render_sensor_operator %}
{% from "operators/http_operator.j2" import render_http_operator %}
{% from "operators/email_operator.j2" import render_email_operator %}
{% from "operators/branch_operator.j2" import render_branch_operator %}

{% block dag_content %}
    {% macro render_task(task) %}
        {% if task.operator_type == 'BranchPythonOperator' %}
            {{ render_branch_operator(task) }}
        {% elif task.operator_type == 'PythonOperator' %}
            {{ render_python_operator(task) }}
        {% elif task.operator_type == 'PostgresOperator' %}
            {{ render_postgres_operator(task) }}
        {% elif task.operator_type == 'BashOperator' %}
            {{ render_bash_operator(task) }}
        {% elif task.operator_type == 'ExternalTaskSensor' %}
            {{ render_sensor_operator(task) }}
        {% elif task.operator_type == 'HttpOperator' %}
            {{ render_http_operator(task) }}
        {% elif task.operator_type == 'EmailOperator' %}
            {{ render_email_operator(task) }}
        {% else %}
            EmptyOperator(task_id="{{ task.taskid }}")
        {% endif %}
    {% endmacro %}

    # Render tasks outside of groups
    {% for task in metadata.tasks if not task.taskgroup %}
    {{ task.taskid }} = {{ render_task(task) }}
    {% endfor %}


    # Define dependencies
{% for dep in metadata.dependencies %}
{{ dep }}
{% endfor %}
{% endblock %}
