{# templates/imports.j2 #}
from airflow import DAG
from datetime import datetime, timedelta
{% set required_operators = metadata.tasks | map(attribute='operator_type') | unique | list %}
{% if 'EmptyOperator' in required_operators %}
from airflow.operators.empty import EmptyOperator
{% endif %}
{% if 'PythonOperator' in required_operators %}
from airflow.operators.python import PythonOperator
{% endif %}
{% if 'BashOperator' in required_operators %}
from airflow.operators.bash import BashOperator
{% endif %}
{% if 'BranchPythonOperator' in required_operators %}
from airflow.operators.branch import BranchPythonOperator
{% endif %}
{% if 'PostgresOperator' in required_operators %}
from airflow.providers.postgres.operators.postgres import PostgresOperator
{% endif %}
{% if 'ExternalTaskSensor' in required_operators %}
from airflow.sensors.external_task import ExternalTaskSensor
{% endif %}
{% if 'EmailOperator' in required_operators %}
from airflow.operators.email import EmailOperator
{% endif %}
{% if 'HttpOperator' in required_operators %}
from airflow.providers.http.operators.http import SimpleHttpOperator
{% endif %}
{% if metadata.task_groups %}
from airflow.utils.task_group import TaskGroup
{% endif %}
{% set callables = metadata.tasks | selectattr('operator_type', 'equalto', 'PythonOperator') | map(attribute='python_callable') | unique | list %}
{% for callable in callables if callable %}
from my_python_module import {{ callable }}
{% endfor %}
