{# templates/operators/sensor_operator.j2 #}
{% macro render_sensor_operator(task) %}
ExternalTaskSensor(
    task_id='{{ task.task_id }}',
    external_dag_id='{{ task.task_params.external_dag_id }}',
    external_task_id='{{ task.task_params.external_task_id }}',
    {% if task.task_params.get('allowed_states') %}
    allowed_states={{ task.task_params.allowed_states | tojson }},
    {% endif %}
    {% if task.task_params.get('execution_delta') %}
    execution_delta=timedelta(seconds={{ task.task_params.execution_delta }}),
    {% endif %}
    {% if task.task_params.get('execution_date_fn') %}
    execution_date_fn={{ task.task_params.execution_date_fn }},
    {% endif %}
    {% if task.task_params.get('check_existence') is defined %}
    check_existence={{ task.task_params.check_existence | lower }},
    {% endif %}
    {% include 'operators/common_args.j2' %}
)
{% endmacro %}